<%= render '/layouts/nav' %>
<% @current_folder = @breadcrumb_nav.last %>
<div class="container-fluid">
  <div class="row">
    <div id="workspace_toolbar" class="col-12-md">
      <div id="main-section-top" class="col-md-3" style="padding-top: 9px;">
        <div class="text-center">
          <h1 style="color: #fff;">File Explorer</h1>
        </div>
      </div>
      <div class="col-md-9" style="padding-top: 9px;">
        <a class="btn btn-success" href="/dashboards" role="button">
          My Dashboard&nbsp;&nbsp;<i class="fa fa-tachometer"></i></a>
        <a href="#new_folder" data-toggle="modal" data-target="#newFolder-<%= @current_folder['fi_id'] %>"
          class="btn btn-warning" role="button">
          New Folder&nbsp;&nbsp;<i class="fa fa-folder-open-o"></i></a>
        <%= render "/get_file_details/new_folder/new_folder"%>
        <div style="float: right;">
          <a class="btn btn-danger" href="/dashboards" role="button"
            data-toggle="modal" data-target=".bs-example-modal-lg">
            Settings&nbsp;&nbsp;<i class="fa fa-cogs"></i></a>
            <%= render "/dashboards/settings/settings"%>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div id="workspace_toolbar_menu" class="col-12-md">
      <div class="col-md-3">
        <br>
        <div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="visible-xs navbar-brand">Sidebar menu</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav social-icons icon-circle">
                <% bob =  @folder_list['filelist'] %>
                <% bob.each do |info| %>
                  <% if info['fi_type'] == '1' %>
                    <% if info['fi_provider'] == '54665' %>
                      <li><a href="/get_file_details/<%= info['fi_id'] %>" class="likeBTN" id="<%= info['fi_id'] %>"><i class="fa fa-cloud"></i>&nbsp;<%=info['fi_name'] %></a></li>
                    <% elsif info['fi_provider'] == '54666' %>
                      <li><a href="/get_file_details/<%= info['fi_id'] %>" class="likeBTN" id="<%= info['fi_id'] %>"><i class="fa fa-dropbox"></i>&nbsp;<%=info['fi_name'] %></a></li>
                    <% elsif info['fi_provider'] == '54667' %>
                      <li><a href="/get_file_details/<%= info['fi_id'] %>" class="likeBTN" id="<%= info['fi_id'] %>"><i class="fa fa-google"></i>&nbsp;<%=info['fi_name'] %></a></li>
                    <% else %>
                      <li><a href="/get_file_details/<%= info['fi_id'] %>" class="likeBTN" id="<%= info['fi_id'] %>"><i class="fa fa-folder"></i>&nbsp;<%=info['fi_name'] %></a></li>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
      <div id="main" class="col-md-9">
        <br>
        <ol class="breadcrumb">
          <% @breadcrumb_nav.each do |bread| %>
            <li><a href="/get_file_details/<%= bread['fi_id'] %>" class="likeBTN" id="<%= bread['fi_id'] %>"><%= bread['fi_name'] %></a></li>
          <% end %>
        </ol>
        <br>
        <table class="table table-hover" id="myTable">
          <tr>
            <thead>
              <th></th>
              <th>Name</th>
              <th>Type</th>
              <th>Size</th>
              <th>Last Access</th>
              <th>Action</th>
            </thead>
          </tr>
          <tbody>
          <% @file_list_return.each do |info| %>
            <tr>
              <% if info['fi_type'] == "1" %>
                <td></td>
                <td><a href="/get_file_details/<%= info['fi_id'] %>" class="likeBTN" id="<%= info['fi_id'] %>"><i class="fa fa-folder"></i>&nbsp;<%=info['fi_name'] %></a></td>
                <td>Folder</td>
                <td></td>
                <td><%=info['fi_lastaccessed'] %></td>
                <td>
                  <a href="#rename_file" data-toggle="modal" data-target="#modal-<%= info['fi_id'] %>"><i class="fa fa-edit fa-lg"></i></a>
                  <%= render "/get_file_details/rename/rename_folder", info: info %>
                  <a href="#" data-id="<%= info['fi_id'] %>"><i class="fa fa-share-square-o fa-lg"></i></a>
                  <a href="#share_item" data-toggle="modal" data-target="#share-<%= info['fi_id'] %>"><i class="fa fa-external-link fa-lg"></i></a>
                  <%= render "/get_file_details/share/share", info: info %>
                  <a href="#" data-id="<%= info['fi_id'] %>"><i class="fa fa-trash fa-lg"></i></a>
                </td>
              <% else %>
                <td></td>
                <td><a href="<%= get_file_download_path(info['fi_id']) %>" target="_blank"><i class="fa fa-file"></i>&nbsp;<%=info['fi_name'] %></a></td>
                <td><%=info['fi_extension'] %></td>
                <td><%= number_to_human_size(info['fi_size']) %></td>
                <td><%=info['fi_lastaccessed'] %></td>
                <td>
                  <a href="#rename_file" data-toggle="modal" data-target="#modal-<%= info['fi_id'] %>"><i class="fa fa-edit fa-lg"></i></a>
                  <%= render "/get_file_details/rename/rename_folder", info: info %>
                  <a href="#" data-id="<%= info['fi_id'] %>"><i class="fa fa-share-square-o fa-lg"></i></a>
                  <a href="#share_item" data-toggle="modal" data-target="#share-<%= info['fi_id'] %>"><i class="fa fa-external-link fa-lg"></i></a>
                  <%= render "/get_file_details/share/share", info: info %>
                  <a href="#" data-id="<%= info['fi_id'] %>"><i class="fa fa-trash fa-lg"></i></a>
                </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
        <hr class="provider">
        <div style="float: right;">
          <%= paginate @file_list_return %>
          <%= page_entries_info @file_list_return %>
        </div>

      </div>
    </div>
  </div>
</div>
